{% extends 'base.html.twig' %}

{% block title %}about{% endblock %}

{% block body %}
  <h3>coucou</h3>
    <a href="{{ path('main') }}">acceuil main</a>



{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/_article.css') }}">
  <link rel="stylesheet" href="{{ asset('css/login.css') }}">
  <link rel="stylesheet" href="{{ asset('css/main.css') }}">
  <link rel="stylesheet" href="{{ asset('css/_index.css') }}">
  <link rel="stylesheet" href="{{ asset('css/_legals.css') }}">

{% endblock %}