{% extends 'base.html.twig' %}

{% block title %}Albums {% for a in albums %}{{ a.subGalery.name }}{% endfor %}{% endblock %}

{% block body %}
    {% include 'include/_mainNavigation.html.twig' %}
    <script src="{{ asset('js/galerie.js') }}"></script>

    <main>
        <div class="container-galerie">
            <section>
                {% for a in albums %}
                <h1>{{ a.subGalery.name }}</h1>
                <a href="{{ path('sous_galerie',{id: a.subGalery.id}) }}" class="btn btn-primary white">Retour</a>
                {% endfor %}</section>
            <div class="zoom colonne">
                {% for a in albums %}
                    <script> galerieAjax({{ a.id }})</script>
                <div class="ok"><a href="{{ path('main_albums_view',{id:a.id}) }}">
                        <div class="ok">
                            <p>{{ a.name }}</p>
                            <img class="imageGalerie" id="imageCategory{{ a.id }}" src="{{ asset('uploads/logo/logo-fce.svg') }}">
                        </div>
                    </a>
                </div>

                {% endfor %}
            </div>
        </div>
    </main>
    {{ include('include/mainFooter.html.twig') }}


{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/_article.css') }}">
    <link rel="stylesheet" href="{{ asset('css/galerie.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_legals.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mainGaleries.css') }}">
{% endblock %}