{% extends 'base.html.twig' %}

{% block title %}Albums {% for a in albums %}{{ a.subGalery.name }}{% endfor %}{% endblock %}

{% block body %}
    {% include 'include/_mainNavigation.html.twig' %}
    <script src="{{ asset('js/galerie.js') }}"></script>

    <main>
        <div class="container-galerie">
            <section>
                <h1>{% for a in albums %}{{ a.subGalery.name }}{% endfor %}</h1>
            </section>
            <div id="content">
                {% for a in albums %}
                    <script> galerieAjax({{ a.id }})</script>
                    <a href="{{ path('main_albums_view',{id:a.id}) }}">
                        <div class="card">
                            <p>{{ a.name }}</p>
                            <img id="imageCategory{{ a.id }}" src="{{ asset('uploads/logo/logo-fce.svg') }}">
                        </div>
                    </a>

                {% endfor %}
            </div>
        </div>
    </main>
    {{ include('include/mainFooter.html.twig') }}


{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/_article.css') }}">
    <link rel="stylesheet" href="{{ asset('css/galerie.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_legals.css') }}">

{% endblock %}