{% extends 'baseMain.html.twig' %}

{% block title %}{{ albums.name }}{% endblock %}

{% block body %}
    {% include 'include/_mainNavigation.html.twig' %}
    <script src="{{ asset('js/galerie.js') }}"></script>

    <main>
        <div class="container-galerie">
            <section>
                <h1>{{ albums.name }}</h1>
            </section>
            <div id="content">
                {% for i in albums.images %}
                        <div class="card">
                            <img id="imageCategory" src="{{ asset('/uploads/'~i.name)}}" alt="">
                        </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {{ include('include/mainFooter.html.twig') }}


{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/_article.css') }}">
    <link rel="stylesheet" href="{{ asset('css/galerie.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_legals.css') }}">

{% endblock %}