{% extends 'baseMain.html.twig' %}
{% block title %}Equipes{% endblock %}
{% block body %}
    {% include 'include/_mainNavigation.html.twig' %}
    <main>
        <section class="actus equipes">
            {% if equipe.photoEquipe != null %}
            <img src="{{ asset('uploads/'~equipe.photoEquipe) }}" alt=""/>
            {% endif %}
        </section>
        <section class="container equipes-desc">
            <h1>{{ equipe.name }}</h1>
        </section>
        <section class="container">
            <div class="photo-joueur">
                {% if equipe.joueurs is not empty %}
                    {% for joueur in equipe.joueurs %}
                        <a href="">
                            <img style="width:389px; height:386px;" src="{{ asset('uploads/'~joueur.photoPortrait) }}"
                                 alt=""/>
                            <div class="title-game">
                                <h3>{{ joueur.lastname }} {{ joueur.name }}</h3>
                                <span class="date">{{ joueur.poste }}</span>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        <section class="resultats-equipes">
            <h2>Les résultats de l'équipe</h2>
            {% if equipe.scriptResultat is not empty %}
            {{ equipe.scriptResultat| raw }}
            {% else %}
          <p>Aucun resultat pour le moment</p>
            {% endif %}
        </section>

    </main>
    {{ include('include/mainFooter.html.twig') }}
    <script type="text/javascript" src="app.js"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/_article.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_legals.css') }}">

{% endblock %}