{% extends 'baseMain.html.twig' %}
{% block title %}Equipes{% endblock %}
{% block body %}
    {% include 'include/_mainNavigation.html.twig' %}
    <main>
        <section class="pageequipes">

            {% if equipe.photoEquipe != null %}
                <img src="{{ asset('uploads/'~equipe.photoEquipe) }}" alt=""/>
            {% endif %}
            <div class="bandeau">
                <div class="h1bandeau">
                    <h1>{{ equipe.name }}</h1>
                </div>
                <div class="href">
                    <a href="#joueur">La composition de l'équipe</a>
                    <a href="#resultat">Ses résultats</a>
                    <a href="#actu">Ses dernières actualités</a>
                </div>
            </div>
        </section>
        <section class="title-composition">
            <h2>La composition de l'équipe</h2>
        </section>
        <section id="joueur" class="">
            <div class="photo-joueur">
                {% if equipe.joueurs is not empty %}
                    {% for joueur in equipe.joueurs %}
                        {% if joueur.poste == 'Gardien' or joueur.poste == 'Gardienne' %}
                            <a href="{{ path('main_joueur',{id: joueur.id}) }}">
                                <img style="max-width:389px; max-height:386px;"
                                     src="{{ asset('uploads/'~joueur.photoPortrait) }}"
                                     alt=""/>
                                <div class="title-game">
                                    <h3>{{ joueur.lastname }} {{ joueur.name }}</h3>
                                    <span class="date">{{ joueur.poste }}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% for joueur in equipe.joueurs %}
                        {% if joueur.poste == 'Défenseur' or joueur.poste == 'Défenseuse' %}
                            <a href="{{ path('main_joueur',{id: joueur.id}) }}">
                                <img style="max-width:389px; max-height:386px;"
                                     src="{{ asset('uploads/'~joueur.photoPortrait) }}"
                                     alt=""/>
                                <div class="title-game">
                                    <h3>{{ joueur.lastname }} {{ joueur.name }}</h3>
                                    <span class="date">{{ joueur.poste }}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% for joueur in equipe.joueurs %}
                        {% if joueur.poste == 'Milieu' %}
                            <a href="{{ path('main_joueur',{id: joueur.id}) }}">
                                <img style="max-width:389px; max-height:386px;"
                                     src="{{ asset('uploads/'~joueur.photoPortrait) }}"
                                     alt=""/>
                                <div class="title-game">
                                    <h3>{{ joueur.lastname }} {{ joueur.name }}</h3>
                                    <span class="date">{{ joueur.poste }}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% for joueur in equipe.joueurs %}
                        {% if joueur.poste == 'Attaquant' or joueur.poste == 'Attaquante' %}
                            <a href="{{ path('main_joueur',{id: joueur.id}) }}">
                                <img style="max-width:389px; max-height:386px;"
                                     src="{{ asset('uploads/'~joueur.photoPortrait) }}"
                                     alt=""/>
                                <div class="title-game">
                                    <h3>{{ joueur.lastname }} {{ joueur.name }}</h3>
                                    <span class="date">{{ joueur.poste }}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        <section id="resultat" class="resultats-equipes">
            <h2>Les résultats de l'équipe</h2>
            {% if equipe.scriptResultat is not empty %}
                {{ equipe.scriptResultat| raw }}
            {% else %}
                <p>Aucun résultat pour le moment</p>
            {% endif %}
        </section>
        <section id="actu" class="resultats-equipes">
            <div><h2>Les actualités de l'équipe</h2></div>
            <div class="actuequipe">
                {% for article in equipe.articles |slice(0,3) %}

                    <a href="{{ path('article_slug',{slug : article.slug}) }}">
                        <img style="max-width:561px; max-height:386px;"
                             src="{{ asset('uploads/'~article.photoEnAvant) }}">
                        <div class="title-game" style="width: 80%">
                            <h3> {{ article.titre }}</h3>
                            <span>publié le: {{ article.createdDate |date('d-m-Y') }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>

    </main>
    {{ include('include/mainFooter.html.twig') }}
    <script type="text/javascript" src="app.js"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/_article.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_legals.css') }}">
    <link rel="stylesheet" href="{{ asset('css/.equipe.css') }}">
{% endblock %}