{% extends 'base.html.twig' %}

{% block title %}galerie{% endblock %}

{% block body %}
    {% include 'include/_mainNavigation.html.twig' %}
    <script src="{{ asset('js/galerie.js') }}"></script>
    <main>
        <div class="container-galerie">
            <section>
                <div>
                    <h1>Galerie photos</h1>
                </div>
                <div>
                    {{ form_start(catForm,{'attr': {'class': 'catForm'}}) }}
                    {{ form_row(catForm.name,{'attr': {'class': 'input-global'}}) }}
                    <button type="submit" class="btn">Chercher</button>
                    {{ form_end(catForm) }}
                </div>
            </section>
            <div id="content">

                {% for g in galerie %}
                    <script> galerieAjax({{ g.id }})</script>
                    <a href="{{ path('sous_galerie',{id : g.id}) }}">
                        <div class="card">
                            <p>{{ g.name }}</p>
                            {{ g.id }}
                            <img id="imageCategory{{ g.id }}" src="{{ asset('uploads/logo/logo-fce.svg') }}">
                        </div>
                    </a>

                {% endfor %}
            </div>
        </div>
    </main>
    {{ include('include/mainFooter.html.twig') }}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/_article.css') }}">
    <link rel="stylesheet" href="{{ asset('css/galerie.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_legals.css') }}">

{% endblock %}