{% extends 'baseMain.html.twig' %}
{% block title %}histoire{% endblock %}
{% block body %}
    {{ include('include/_mainNavigation.html.twig') }}
<main>
    <section class="actus">
        <img style="width:100%;height:auto;object-fit: cover;" src="{{ asset('img/BANNIERE PAGE HISTORIQUE.jpg') }}" alt="" />
    </section>

    <section class="container">
        <div class="container-small"><h1>L'historique du club</h1>
            <p>Le Football Club des Écureuils de Mérignac-Arlac est un club de football fondé en 1976 et basé à Mérignac dans la banlieue bordelaise. C’est le plus grand club de la région Nouvelle-Aquitaine en nombre de licenciés (871 en avril 2019). </p></div>
    </section>


    <section class="container">
        <div class="title-game tag-center">
            <h3>1929 à 1948</h3>
        </div>
        <div class="container_col-2 col-center">
            <div class="desc">
                <p>Arlac, lieu-dit dans Mérignac à quelques kilomètres de Bordeaux, était surnommé autrefois « les Landes d’Arlac » par référence à ses forêts de pins et bien sûr ses écureuils.</p>
                <p>Petit à petit, vinrent s’installer quelques familles au milieu de ces pins, ainsi qu’une usine en 1929 qui jouera une part importante dans notre histoire « La Verrerie Carmaux ».</p>
                <p>Plus tard, des religieux, déjà désireux de s’occuper des jeunes, décidèrent de créer un patronage de football et le surnommèrent « Les Ecureuils d’Arlac », c’était en 1948. Puis il est mis en sommeil pendant quelques années.</p>
            </div>

            <img style="height:600px;background-color: aqua;" src="" alt="">
        </div>
    </section>


    <section class="container container_col-2">
        <div class="desc">
            <div class="title-game tag-center">
                <h3>1954</h3>
            </div>
            <div>
                <p>Malgré les dires venus des dirigeants des clubs voisins qui leur promettaient un avenir difficile, MM.Trijoulet et Forsans, aidés par leur président M. Lejeune, persistèrent dans leurs idées et s’attachèrent à créer un club compétitif. L’avenir leur donnera raison, mais un projet de fusion avec un autre club était dans l’air…</p>
                <p>Entre-temps, vint la création en 1954, le 25 janvier exactement, du « Football Club Arlacais » sur l’initiative d’un groupe du quartier fervents supporteurs des Girondins. En effet, c’est lors de discussion dans un salon de coiffure que tenait M.Barragan que fût décidé de monter un club, leur club. Aidé par M. Fonteyraud pour régler les formalités administratives.</p>
            </div>
        </div>
        <div class="desc">
            <div class="title-game tag-center">
                <h3>1954 à 1964</h3>
            </div>
            <div>
                <p>De 1954 à 1959, le « F.C.A. » gravit les échelons de la Ligue du Sud-Ouest. En 1964, le »F.C.A » va traverser une grave grise, cette dernière correspond à la décentralisation de la « Verrerie Carmaux » qui à l’époque était le bureau de recrutement du club.</p>
                <p>Pourtant les trois chevilles ouvrières du club qu’étaient MM. Fonteyraud père et fils, ainsi que M.Guillem ne baissèrent pas les bras et formèrent une équipe première pour sauver le club de la relégation.</p>
                <p>Malgré toute cette bonne volonté de la part des joueurs et des dirigeants, le manque de moyen va faire qu’à l’unanimité le club va être mis en sommeil à la fin de l’année 1972 pour quelques mois.</p>
                <p>C’est alors que l’idée germa dans l’esprit du petit écureuil de réunir les deux clubs du quartier d’Arlac afin de créer, le Football Club des Ecureuils d’Arlac.</p>
            </div>
        </div>
    </section>


    <section class="container">
        <div class="title-game tag-center">
            <h3>1970 à 1978</h3>
        </div>
        <div class="container_col-2 col-center">
            <img style="height:600px;background-color: aqua;" src="" alt="">
            <div class="desc">
                <p>C’est à l’initiative de MM.Trijoulet et Forans que le patronage est repris en 1970 par M. Lejeune, artisan plombier zingueur, nommé Président.</p>
                <p>Les Ecureuils d’Arlac commencent leur première saison officielle en 1970-1971 où 4 équipes sont engagées en District ou en U.D.G.</p>
                <p>En effet, MM. Rodrigues et Lejeune, sachant que F.C.A était en sommeil, allèrent voir M.Fonteyraud pour lui proposer leur projet de fusion, c’était en 1972-1973. Pourtant beaucoup se demandaient : « Qu’allait apporter cette fusion ? ».</p>
                <p>Malgré quelques problèmes, des bases solides se mettaient en place et aux vues de l’embellie suscitée et de la réussite engendrée par cette fusion, le club décidait d’officialiser cette fusion le 3 novembre 1976. Mr Rodrigues fut nommé comme président du F.C.E.A. </p>
            </div>
        </div>
    </section>


    <section class="container">
        <div class="title-game tag-center">
            <h3>2001</h3>
        </div>
        <div class="container_col-2 col-center">
            <div class="desc">
                <p>M.Rodrigues fut nommé comme président du F.C.E.A en 1976. Depuis cette date, differents présidents se sont succédé aux destinées du F.C.E.A, dont M.Duboy de 1977-1985, M.Piquero de 1985-1996, M.Julliard 1996-mars 2001, M.Declercq de mars 2001-juin 2001 et depuis juin 2001, M.Darroman est l’actuel Président du club. </p>
                <p>Depuis Juin 2001, le président est Mr Jean Jacques Darroman, ancien artisan coiffeur qui possède 4 salons de coiffure sur l’agglomération et passionné de ballon rond. Il est très investi au sein du club et défend les valeurs de ce dernier.  La tolérance, le respect, et souhaite que chaque licencié du club puisse trouver une équipe qui correspond à son niveau de pratique avec un éducateur diplômé.</p>

            </div>
            <img style="height:600px;background-color: aqua;" src="" alt="">
        </div>
    </section>


    <section class="container">
        <div class="title-game tag-center">
            <h3>2017 à 2020</h3>
        </div>
        <div class="container_col-2 col-center">
            <img style="height:600px;background-color: aqua;" src="" alt="">
            <div class="desc">
                <p>En 2017, le FCEMA obtient une montée historique en National 3 après avoir été champions de DH. Depuis, le club s’est maintenu à cet échelon.</p>
                <p>A l’issue de la saison 2019-2020, bien qu’arrêtée prématurément à la suite de la crise sanitaire liée au Covid-19, l’équipe première féminine obtient sa montée en seconde division. Dans le même temps, la réserve féminine monte en Régional 2 féminine.</p>
            </div>
        </div>
    </section>
</main>
    {{ include('include/mainFooter.html.twig') }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/_article.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_legals.css') }}">

{% endblock %}