{% extends 'baseMain.html.twig' %}

{% block title %}{% for s in subGalery|slice(0,1) %}{{ s.galery.name }}{% endfor %}{% endblock %}

{% block body %}
    {% include 'include/_mainNavigation.html.twig' %}
    <script src="{{ asset('js/galerie.js') }}"></script>
    <main>
        <div class="container-galerie">
            <section>
                <h1>{% for s in subGalery|slice(0,1) %}{{ s.galery.name }}{% endfor %}</h1>
                <a href="{{ path('galerie') }}" class="btn btn-primary white">Refaire une recherche</a>
            </section>
            <div class="zoom colonne">
                {% for s in subGalery %}
                    <script> galerieAjax({{ s.id }})</script>
                    <div class="ok">
                        <a href="{{ path('main_albums',{id: s.id}) }}">
                            <div class="ok">
                                <p>{{ s.name }}</p>
                                <img class="imageGalerie" id="imageCategory{{ s.id }}" src="{{ asset('uploads/logo/logo-fce.svg') }}">
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {{ include('include/mainFooter.html.twig') }}


{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/_article.css') }}">
    <link rel="stylesheet" href="{{ asset('css/galerie.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/_legals.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mainGaleries.css') }}">
{% endblock %}