<header>
    <a href="{{ path('accueil') }}"><img src="{{ asset('/uploads/logo/logo-fce.svg') }}" alt="Logo" style="width: 150px"/></a>
    <nav>
        <a href="{{ path('accueil') }}">Accueil</a>
        <div id="dropdown">
            Nos équipes
            <div class="dropdown">
                <a href="{{ path('main_equipe',{id : 'Sénior élite garçons' }) }}">CAT 1</a>
                <a href="{{ path('main_equipe',{id : 'Sénior élite filles' }) }}">CAT 2</a>
                <a href="{{ path('main_equipe',{id : 'autres'  }) }}">les autres équipes</a>
            </div>
        </div>
        <a
                href="https://www.clubvipbordeaux.com/nos-boutiques-clubs/boutique/arlac/?tx_club_club%5Baction%5D=boutique&cHash=a9cdd3e51d14bbc12e14bb911b91f96c"
                target="_blank"
        >La boutique</a
        >
        <a href="{{ path('galerie') }}">Galerie photos</a>
        <a
                href=https://lfna.fff.fr/recherche-clubs/?scl=4625&tab=resultats
                target="_blank"
        >Les résultats</a
        >
    </nav>
</header>