{% extends 'base.html.twig' %}
{% block title %}Adversaires{% endblock %}
    {% block body %}
        <div class="main">
            {{ include('include/_navigation.html.twig') }}
            <div class="content">
                <div class="welcome-container">
                    <h1>Modifier l'adversaire</h1>

                    {{ include('adversaires/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>

    {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formulaire.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/imagePreview.js') }}"></script>
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}