{% extends 'base.html.twig' %}
{% block title %}sous galeries{% endblock %}
    {% block body %}
        <div class="main">
            {{ include('include/_navigation.html.twig') }}
            <div class="content">
                <div class="welcome-container">
                    <h1>SubGalery index</h1>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Galerie</th>
                            <th>CreatedDate</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sub_galery in sub_galeries %}
                            <tr>
                                <td>{{ sub_galery.id }}</td>
                                <td>{{ sub_galery.name }}</td>
                                <td>{{ sub_galery.galery.name }}</td>
                                <td>{{ sub_galery.createdDate ? sub_galery.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('sub_galery_show', {'id': sub_galery.id}) }}">show</a>
                                    <a href="{{ path('sub_galery_edit', {'id': sub_galery.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {#                    <a href="{{ path('sub_galery_new') }}">Create new</a>#}
                </div>
            </div>
        </div>
    {% endblock %}
